* { box-sizing: border-box; }
.container{
    width: 84%;
    margin-left: 200px; /* Same as the width of the sidebar */
}
form{
    display: inline-block;
    position: relative;
    width: 45%;
    margin-top: 12%;
    margin-bottom: 15%;
    margin-left: 28%;
    padding: 2%;
}
.heading-1{
    font-size: 35px;
    padding-top: 3%;
}
p{
    margin-left: 2%;
}
.button-default{
    display: inline-block;
    position: relative;
    float: right;
    margin-right: 5%;
    margin-bottom: 1%;
    margin-top: 5%;
    padding: 1%;
}
.alert-alert-warning-alert-dismissible{
    margin-left: 0%;
    width: 100%;
}