{% extends 'base_Admin.html' %}

{% set page_head_title = 'product_edit' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('admin_product.static', filename='css/product_edit.css') }}"/>
{% endblock %}
{% block page_body_main_content %}

    <div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
	        {% for message in messages %}
		    <div class="alert-alert-warning-alert-dismissible" role="alert">
			    {{message}}
		    </div>
		    {% endfor %}
        {% endif %}
    {% endwith %}
        <form method=POST class="edit-form" action="{{ url_for('product_edit.index') }}" id="edit-form">
            <div class="edit-form">
                <h1 class="heading-1">Edit Product</h1>
            </div>
            <a href="/product?id={{ product.sku }}"></a>
            <div class="edit-product-form">
                <label for="sku" >Sku:</label><!-- not an editable option-->
                <input type="number" name="sku" value="{{ product.sku }}" id="sku" max="4294967295" readonly/>
            </div>
            <div class="edit-product-form">
                <label for="name">Name:</label>
                <input type="text" name="name" value="{{ product.name }}" id="name" maxlength="50" required/>
            </div>
            <div class="edit-product-form">
                <label for="price">Price:</label>
                <input type="number" name="price" value="{{ product.price }}" id="price" max="65535" required/>
            </div>
            <div class="edit-product-form">
                <label for="description">Description:</label>
                <input type="text" name="description" value="{{ product.description }}" id="description" maxlength="55" required/>
            </div>
            <div class="edit-product-form">
                <label for="category-code">Category code:</label>
                <input type="number" name="category-code" value="{{ product.category_code }}" id="category-code" max="255" required/>
            </div>
            <div class="edit-product-form">
                <label for="img">Img:</label>
                <input type="text" name="img" value="{{ product.img }}" id="img" maxlength="50" required/>
            </div>
            <div>
                <input type="submit" value="Submit" class="button-default" name="edit-form"/>
            </div>
        </form>
    </div>
{% endblock %}
