* { box-sizing: border-box; }
.container{
    width: 84%;
    margin-left: 200px; /* Same as the width of the sidebar */
}

form{
    display: inline-block;
    position: relative;
    vertical-align: center;
    margin-top: 12%;
    margin-bottom: 15%;
    margin-left: 30%;
    padding: 2%;
    width: 42%
}

.heading-1{
    font-size: 35px;
    padding-top: 3%;
}
p{
    margin-left: 2%;
}

lable{
    margin-left: 1%;
}
input{
    position: relative;
    display: inline;
    margin-left: 1%;
    vertical-align: center;
    width: 60%;
}
.button-default{
    display: inline-block;
    position: relative;
    float: right;
    margin-right: 5%;
    margin-bottom: 1%;
    margin-top: 5%;
    padding: 1%;
}
.alert-alert-warning-alert-dismissible{
    margin-left: 0%;
    width: 100%;
}